<template>
  <carousel
    :perPageCustom="[
      [600, 1],
      [740, 2],
      [1100, 3],
      [1440, 4],
      [1920, 5],
    ]"
  >
    <slide v-for="(fen, i) in fens" :key="i">
      <chessboard :fen="fen" />
    </slide>
  </carousel>

  <!-- <chessboard :fen="fens[2]" /> -->
</template>

<script>
import chessboard from "./Chessboard.vue";
import { Carousel, Slide } from "vue-carousel";

export default {
  name: "Chessboard",
  data() {
    return {
      fens: [
        "rnb1kbnr/ppp1pppp/3q4/3p4/8/3P4/PPPQPPPP/RNB1KBNR b KQkq - 0 1",
        "rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2",
        "rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1",
        "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1",
        "rnb1kbnr/ppp1pppp/3q4/3p4/8/3P4/PPPQPPPP/RNB1KBNR b KQkq - 0 1",
        "rnb1kbnr/ppp1pppp/3q4/3p4/8/3P4/PPPQPPPP/RNB1KBNR b KQkq - 0 1",
        "rnb1kbnr/ppp1pppp/3q4/3p4/8/3P4/PPPQPPPP/RNB1KBNR b KQkq - 0 1",
      ],
    };
  },
  components: {
    chessboard: chessboard,
    Carousel,
    Slide,
  },
};
</script>

<style scoped></style>
