<script>
import { chessboard } from "vue-chessboard";

export default {
  name: "Chessboard",
  extends: chessboard,
  mounted() {
    this.board.set({
      viewOnly: true,
      drawable: {
        enabled: false,
      },
    });
  },
  //   methods: {
  //     userPlay() {
  //       return (orig, dest) => {
  //         const move = orig + dest;
  //         console.log(move);
  //         if (move === "f7f6") {
  //           if (this.isPromotion(orig, dest)) {
  //             this.promoteTo = this.onPromotion();
  //           }
  //           this.game.move({ from: orig, to: dest, promotion: this.promoteTo }); // promote to queen for simplicity
  //           this.board.set({
  //             fen: this.game.fen(),
  //           });
  //           this.calculatePromotions();
  //           this.aiNextMove();
  //         } else {
  //           this.board.set({
  //             viewOnly: true,
  //           });
  //         }
  //       };
  //     },
  //     aiNextMove() {
  //       let moves = this.game.moves({ verbose: true });
  //       let randomMove = moves[Math.floor(Math.random() * moves.length)];
  //       console.log(randomMove);
  //       this.game.move({
  //         from: "f1",
  //         to: "c4",
  //       });

  //       this.board.set({
  //         fen: this.game.fen(),
  //         turnColor: this.toColor(),
  //         movable: {
  //           color: this.toColor(),
  //           dests: this.possibleMoves(),
  //           events: { after: this.userPlay() },
  //         },
  //       });
  //     },
  //   },
  //   mounted() {
  //     this.board.set({
  //       movable: { events: { after: this.userPlay() } },
  //     });
  //   },
};
</script>
<style>
.cg-board-wrap {
  width: 300px;
  height: 300px;
  position: relative;
  display: block;
}
.cg-board-wrap coords {
  display: none;
}
</style>
